@import 'keyframes';

.shiny,
%shiny {
  position: relative;
  display: inline-block;

  & > div[aria-hidden='true'] {
    position: relative;
    display: inline-block;
    
    &:nth-child(1) { animation-delay: 0s; }
    &:nth-child(2) { animation-delay: 0.2s; }
    &:nth-child(3) { animation-delay: 0.4s; }
    &:nth-child(4) { animation-delay: 0.6s; }
    &:nth-child(5) { animation-delay: 0.8s; }
    &:nth-child(6) { animation-delay: 1.0s; }
    &:nth-child(7) { animation-delay: 1.2s; }
    &:nth-child(8) { animation-delay: 1.4s; }
    &:nth-child(9) { animation-delay: 1.6s; }
    &:nth-child(10) { animation-delay: 1.8s; }
    
    animation: letter-shine 10s linear infinite;
  }

  &:not(:has(> div[aria-hidden='true'])) {
    animation: letter-shine 10s linear infinite;
  }

  &.first-text {
    & > div[aria-hidden='true'] {
      animation-duration: 5.5s;
    }
  }

  &:not(.first-text) {
    & > div[aria-hidden='true'] {
      animation-duration: 5s;
    }
  }
}

#back-office {
  .shiny,
  %shiny {
    &:not(:has(> div[aria-hidden='true'])) {
      animation: shiny-cube 10s linear infinite;
    }
  }
}
