@keyframes shine {
  to {
    background-position: 200% center;
  }
}

@keyframes letter-shine {
  0%, 100% {
    color: #1bbd79;
    text-shadow: 0 0 10px rgb(27 189 121 / 50%);
  }

  20% {
    color: #1bbd79;
    text-shadow: 0 0 10px rgb(27 189 121 / 50%);
  }

  40% {
    color: #178a59;
    text-shadow: 0 0 8px rgb(23 138 89 / 40%);
  }

  60% {
    color: #126543;
    text-shadow: 0 0 6px rgb(18 101 67 / 30%);
  }

  80% {
    color: #178a59;
    text-shadow: 0 0 8px rgb(23 138 89 / 40%);
  }
}

@keyframes shiny-cube {
  0%, 100% {
    color: var(--main-item-color-new);
    text-shadow: 0 0 10px rgb(27 189 121 / 50%);
  }
  
  20% {
    color: var(--main-item-focus-color-new);
    text-shadow: 0 0 10px rgb(27 189 121 / 50%);  
  }

  40% {
    color: var(--main-item-color-new);
    text-shadow: 0 0 8px rgb(23 138 89 / 40%);
  }

  60% { 
    color: var(--main-item-focus-color-new);
    text-shadow: 0 0 6px rgb(18 101 67 / 30%);  
  }

  80% {
    color: var(--main-item-hover-color-new);
    text-shadow: 0 0 8px rgb(23 138 89 / 40%);
  }
}